@font-face {
  font-family: "alarm clock";
  src: url("./fonts/alarmclock.eot");
  src: url("./fonts/alarmclock.eot?#iefix") format("embedded-opentype"),
    url("./fonts/alarmclock.woff") format("woff"),
    url("./fonts/alarmclock.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.time {
  font-family: "alarm clock";
  text-shadow: 0 0 10px aliceblue;
  font-size: 100px;
  text-align: center;
  color: black;
  font-weight: 900;
}
